<!-- Header -->
<br /><br />
<div class="container-title">
  <h1>Carrito de compras</h1>
  <span class="count"
    >{{ quantityProductsInCart$ | async }} productos en el carrito</span
  >
</div>
<!-- End Header -->

<!-- Product List -->

<div class="container" *ngFor="let product of cart$ | async">
  <div class="thumbnail" *ngIf="product.photos">
    <img
      src="{{ url + 'photo/' + product.photos[0].name }}"
      [alt]="product.name"
    />
  </div>

  <div class="detail">
    <div class="name mt-4">
      <h2>
        {{ product.name | uppercase }}
      </h2>
    </div>
    <div class="description">
      <hr>
      {{ product.description }}
      <hr>
      <div class="price">Precio unitario: {{ product.price }} Bs</div>
      <div class="remove" (click)="removeCart(product)">
        Eliminar este producto
      </div>
    </div>
    <br /><br>
    <div class="input-number">
      <button type="button" (click)="decrement(product)">&minus;</button>
      <span>
        <b>{{ product.stock }}</b>
      </span>
      <button type="button" (click)="increment(product)">&#43;</button>
    </div>
    <br /><br />
  </div>

  <div class="price">
    <h1>{{ product.price * product.stock }} Bs</h1>
  </div>
</div>
<div *ngIf="!(quantityProductsInCart$ | async)" class="empty-product">
  <h3>No hay productos en tu carrito de compras</h3>
  <button>Compra ahora!!</button>
</div>

<!-- End Product List -->

<!-- Summary -->

<section class="container d-flex justify-content-end" *ngIf="quantityProductsInCart$ | async">
  <div class="summary align-self-center justify-self-center">
    <h1 class="total text-center">
      Total: <span>{{ subtotalProductsInCart$ | async }} Bs</span>
    </h1>
    <div class="checkout">
      <button type="button">Realizar Pedido</button>
    </div>
  </div>
</section>
<!-- End Summary -->
