<header id="masthead" class="site-header">
  <div class="site-branding">
    <div>
      <h1 class="site-title">
        <a [routerLink]="['/']" rel="home"> Next Level </a>
      </h1>
      <h2 class="site-description">Venta de productos informaticos</h2>
    </div>
    <div class="sidebar-social">
      <li>
        <a [routerLink]="['/order']" class="cart">
          <i class="fas fa-shopping-cart"></i>
          <span id="cart_menu_num" data-action="cart-can" class="badge rounded-circle">
            {{ total$ | async }}
          </span>
        </a>
      </li>
    </div>
  </div>
  <nav id="site-navigation" class="main-navigation">
    <button class="menu-toggle">Menu</button>
    <div class="menu-menu-1-container">
      <ul id="menu-menu-1" class="menu">
        <li>
          <a routerLinkActive="active" [routerLink]="['/products']"> Todos </a>
        </li>
        <li *ngFor="let category of categories">
          <a
            routerLinkActive="active"
            [routerLink]="['/categories', category.id]"
          >
            {{ category.name }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
