
<div class="container">
  <mat-card class="example-card">
    <mat-card-header class="example-card-header">
      <br>
      <mat-card-title>
        Inicio de Sesion
        <hr>
      </mat-card-title>
      <mat-card-subtitle>
        Ingresa tus credenciales de acceso para ingresar al sistema
      </mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="form" (submit)="login()">
      <mat-card-content>
        <mat-form-field appearance="standard" class="example-full-width">
          <mat-label>Email </mat-label>
          <input
            type="email"
            matInput
            placeholder="example@example.com"
            formControlName="email"
          />
          <mat-error *ngIf="emailNoValido">El email es requerido</mat-error>
          <mat-error *ngIf="emailInvalid">El email es invalido</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard" class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            placeholder="***********"
            type="password"
            autocomplete="on"
            formControlName="password"
          />
          <mat-error *ngIf="passwordNoValido"
            >El password es requerido</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Login
        </button>
        <br><br>
        <p>¿No tienes una cuenta? &nbsp;
          <a class="text-decoration-none" [routerLink]="['/auth/register']">
            <b>Registrate</b>
          </a>
        </p>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
