<div *ngFor="let pedido of pedidoByUser">
  <div *ngFor="let pedidoUser of pedido" class="row">
    <div
      class="
        d-flex
        justify-content-between
        align-items-center
        mt-3
        mb-3
        bg-info
        rounded
        bg-opacity-50
        p-2
      "
    >
      <h3 class="m-0">
        <b>Pedido #{{ pedidoUser.id }}</b>
      </h3>
      <span>{{ pedidoUser.createAt | date: "MMM d - h:mm:ss a" }}</span>
      <span><b>Numero: </b> {{ pedidoUser.user.numero }}</span>
      <h3 class="m-0"><b>Email: </b>{{ pedidoUser.user.email }}</h3>
      <h3 class="m-0"><b>Nombre: </b>{{ pedidoUser.user.name | titlecase }}</h3>
    </div>
    <mat-card style="border: 1px solid blue">
      <mat-card-content>
        <div class="d-flex">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of pedidoUser.products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
