.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 20rem;
  text-align: center;
  mat-card-header {
    justify-content: center;
    text-align: center;
  }
}